button {
  width: 100px;
  height: 30px;
  margin: 0 auto;
  display: block;
  color: white;
  background-color: #e5b9bc;
  border: 1px solid #e9cbcd;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
