.main {
    background-color: #FFFDF6;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

/* 상단 부분 */
.top {
    background-color: #FFFFFF;
    opacity: 63%;
    padding-top: 55px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
}

/* 메뉴 버튼 */
.menuImg {
    float: right;
    margin-right: 20px;
    width: 23px;
    height: 24px;
}

/* 알림창 버튼 */
.notiImg {
    float:right;
    width: 60px;
    height: 40px;
}

/* 유저명 옆 꽃 이미지 */
.usernameImg {
    width: 22px;
    height: 24px;
    padding-right: 50px;
}

/* 유저명 + 밑줄 */
.userName {
    color: #613B3E;
    font-size: 24px;
    border-bottom: 3px solid #CB7980;
    margin-left: 20px;
    width: 300px;

}

/* 하단 질문 부분 */
.createQuestion {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 70px;
}

/* 생성할 질문 입력란 */
.addQuestion {
    font-size: 15px;
    width: 313px;
    height: 230px;
    background-color: #FFFFFF;
    padding-left: 10px;
    border: 0px;
    border-radius: 13px;
    box-shadow: 0px 2px 3px gray;
    z-index: 1;
}

/* 질문 생성 버튼 */
.addBtn {
    width: 150px;
    height: 35px;
    font-size: 17px;
    color: white;
    background-color: #E5B9BC;
    border: 3px solid #E9CBCD;
    border-radius: 14px;
    margin-top: 25px;
    box-shadow: 0px 3px 4px gray;
    z-index: 1;
}

/* 뒷배경 꽃1 */
.img1 {
    margin-top: -265px;
    margin-left: auto;
    z-index: 0;
}
/* 뒷배경 꽃2 */
.img2 {
    margin-right: auto;
    margin-bottom: auto;
}