.topBtn {
  flex-direction: column;
  float: right;
}

.pointBox {
  width: 348px;
  height: 115px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.pointFont {
  color: #613b3e;
}

.notiWordBundle {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.notiWord {
  color: #613b3e;
  font-size: 11px;
  margin-top: 7px;
}
