.modal {
  width: 90%;
  height: 200px;
  background-color: white;
  border: #dca4a8 1px solid;
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.buttonWrap {
  display: flex;
}
